<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Agregar Película</title>
    <link rel="stylesheet" href="../static/css/crud-movies.css">
</head>
<body>
    <div class="container">
        <h1>Agregar Nueva Película</h1> <a href="../index.html">CaC - Movies</a>
        <!-- 
        enctype="multipart/form-data": Este atributo es esencial cuando el formulario incluye un 
        campo de subida de archivos (<input type="file">). 
        Permite que los archivos se envíen al servidor como datos binarios en lugar de solo texto.
        -->
        <!-- <form id="movieForm" enctype="multipart/form-data"> -->
        <form id="movieForm">
            <input type="hidden" id="movieId" name="movieId"> <!-- Campo oculto para almacenar el ID de la película -->
            <label for="title">Título</label>
            <input type="text" id="title" name="title" required value="TEST">
            
            <label for="release_year">Año de Lanzamiento</label>
            <input type="number" id="release_year" name="release_year" required value="1900">
            
            <!-- El input tipo file permite elegir un archivo de mi disco -->
            <label for="imagenPeli">Imagen de la peli:</label> 
            <input type="file" id="imagenPeli" name="imagen">

            <label for="adult">Adulto</label>
            <input type="checkbox" id="adult" name="adult">
            
            <!-- <button type="submit">Agregar Película</button> -->
            <button type="submit" id="btnSave">Agregar Película</button>
            <button type="button" id="cancelEdit">Cancelar</button>
        </form>
        <div id="message"></div>
        <h2>Listado de Películas</h2>
        <ul id="moviesList"></ul>
    </div>
    <script type="module" src="../static/js/crud-movies.js"></script>
</body>
</html>
