<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registrarse - CaC-Movies</title>
    <!-- Agregar googlefonts -->
    <!-- Fuentes de google -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap" rel="stylesheet">

    <!-- Iconos de google -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    
    <!-- Agregar fontawesome -->
    <script src="https://kit.fontawesome.com/f7fb471b65.js" crossorigin="anonymous"></script>

    <link rel="cac-movies icon" href="../static/img/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="stylesheet" href="../static/css/register.css">

</head>
<body>
    <nav id="nav">
        <div class="logo">
            <a href="../index.html">
                <i class="fas fa-film fa-spin"></i>
                <span class="logo-texto">
                    CAC - Movies
                </span>
            </a>
        </div>

    </nav>
    <main>
        <!-- elemento define la sección en un documento. -->
        <section class="form-wrapper">
            <h2>Registro
                <span class="material-symbols-outlined color-distinto relleno">
                    favorite
                    </span>
            </h2>
            <form  id="formRegister" novalidate action="#">
                <div class="form-control">
                    <label for="firstname">Nombre</label>
                    <input type="text" name="firstname" id="firstname" required>
                </div>
                <div class="error" id="error-firstname"></div>
                <div class="form-control">
                    <label for="lastname">Apellido</label>
                    <input type="text" name="lastname" id="lastname">
                </div>
                <div class="error" id="error-lastname"></div>
                <div class="form-control">
                    <label for="email">Email</label>
                    <input type="email" name="email" id="email">
                </div>
                <div class="error" id="error-email"></div>
                <div class="form-control">
                    <label for="password">Contraseña</label>
                    <input type="password" name="password" id="password">
                </div>
                <div class="error" id="error-password"></div>
                <div class="form-control">
                    <label id="label-birthdate" for="birthdate">Fecha de Nacimiento</label>
                    <input type="date" name="birthdate" id="birthdate">
                </div>
                <div class="error" id="error-birthdate"></div>

                <div class="form-control">
                    <select name="country" id="country" class="form-select">
                        <option value="">País</option>
                        <option value="AR">Argentina</option>
                        <option value="BO">Bolivia</option>
                        <option value="BR">Brasil</option>
                        <option value="CH">Chile</option>
                        <option value="CO">Colombia</option>
                        <option value="EC">Ecuador</option>
                        <option value="PY">Paraguay</option>
                        <option value="PE">Perú</option>
                        <option value="UY">Uruguay</option>
                        <option value="VE">Venezuela</option>
                    </select>
                </div>
                <div class="form-terms">
                    <div class="terms">
                        <input type="checkbox" id="terms">
                        <label for="terms">Acepto términos y condiciones</label>
                    </div>
                </div>
                <div class="error" id="error-terms"></div>

                <button type="submit">Registrarse</button>
                <div class="form-help"> 
                    <a href="#">Necesitas ayuda?</a>
                </div>
            </form>
        </section>
    </main>
    <script src="../static/js/validation.js"></script>
</body>
</html>